<div class="landing-background-sort">

    <img class="landing-image" src="./assets/img/landing.jpeg" alt="">
    <div class="landing-headline">
        <h1>Wilkommen bei<br> k-webdev</h1>
        <span>
            Die Welt entwickelt sich immer schneller, immer weiter.
            Um mithalten zu können, ist eine Digitaliesierung der Geschäftsprozesse immer wichtiger.
            Wir unterstützen Sie dabei. <br>
            Unser Geschäftsführer hat viele Jahre Erfahrung im Handwerk, wodurch er erkannte das gerade für 
            Handwerksunternehmen die Digital -Angebote sehr begrenzt, teuer und nicht sehr praktikabel sind.
            Das soll sich mit k-webdev ändern.
            Wir bringen die Zukunft auch in Ihr Unternehmen.
            Lassen Sie uns helfen Ihr Unternehmen in die Zukunft zu tragen. <br><br>
            Sehen Sie sich unsere Preise <a routerLink="prices">hier</a> an. 
        </span>
    </div>

</div>
<app-our-customers class="d-none"></app-our-customers><!-- d-none for developent while not finished -->
<app-current></app-current>