<div class="contact-form-container-sort">
    <h2>Kontaktieren Sie uns direkt hier.</h2>
    <p>Haben Sie bereits ein Layout? Dann Senden Sie es einfach als Upload direkt mit.</p>
    <div class="contact-sort-datas mt-5 w-100">
        <div class="d-flex me-3 w-50 flex-column align-items-center">
            <h3>k-webdev</h3>
            <b class="mt-3">Mail:</b> <a href="mailto:info@k-webdev.de">info@k-webdev.de</a>
            <b class="mt-3">Tel.:</b> <a href="tel:(+49)16091678562">0160 - 91 67 85 62</a>
        </div>
        <div class="row g-3 w-25">
            <div class="col">
                <input required type="text" class="form-control" placeholder="Name" aria-label="Name">
            </div>
            <div class="col">
                <input required type="email" class="form-control" placeholder="E-Mail" aria-label="E-Mail">
            </div>
            <div>
                <label for="formFileLg" class="form-label">Laden Sie hier Ihr Layout / Mockup hoch.</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Ihre Nachricht an uns...</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" disabled>Senden</button>
            <button type="button" class="btn btn-secondary btn-lg" disabled>Abbrechen</button>
        </div>
    </div>

</div>