<div class="our-cutomers-container-sort">
    <div class="our-cutomers-container-content">
        <div class="customer-show m-3 d-flex flex-row">
            <div class="card" style="width: 18rem;">
                <img src="./assets/img/logo-hummel-einfach-klima (1).svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hummel Systemlösungen GmbH & Co KG</h5>
                  <p class="card-text">Im Ramen der Digitalisierung haben wir eine Web-App zur VDE konformen Prüfung von E-Werkzeugen und Maschienen entwickelt.</p>
                  <a href="https://www.hummel-hamburg.de/" class="btn btn-primary">Hummel-Hamburg.de</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="./assets/img/HBG-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hanseatische BauTeam GmbH</h5>
                  <p class="card-text">Eine Moderne Website in Angular für gute Lesbarkeit und einen guten ersten Eindruck.</p>
                  <a href="https://www.hbg-group.de/" class="btn btn-primary">HBG.de</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="./assets/img/HBG-logo.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Dietschmann und Hebold GmbH</h5>
                  <p class="card-text">Eine Moderne Website in Angular für gute Lesbarkeit und einen guten ersten Eindruck.</p>
                  <a href="https://www.hbg-group.de/" class="btn btn-primary">D+H.de</a>
                </div>
              </div>
        </div>

    </div>
</div>