<div class="prices-container-sort">
    <div class="prices-container-content">
        <h1 class="mt-3 mb-3 p-3">Preise:</h1>
        <div>
            <ul>
                <li>
                    Einseitige Website: 500€ im Bootstrap Design(jede zusätzliche Komponente 250€ (eine Bildschirmhöhe und Breite))
                </li>
                <li>
                    Mehrseitige Website: 2.500€ (bis 3 Seiten, incl. einfacher Logiken: z.B. Kontaktformulare, Downloads, etc...)
                </li>
                <li>
                    Eigenes Design für Ihre Website nach Absprache (Preise können variiren je nach Design).
                </li>
            </ul>
        </div>
    </div>
</div>